<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url('images/index.png');">
<div class="container">
    <div class="hero-unit" style="background-color: transparent;margin-left:-130px;">
        <h2>世界那么大，我想陪你去看看</h2>
        <p style="text-indent: 2pc;">经过费力才得到的东西要比不费力就得到的东西叫能另人喜爱。</p>
        <p>一目了然的真理不费力就可以懂，懂了也感到暂时的愉快，但是很快就被遗忘了。</p>
        <p style="margin-top: 50px;"></p>
        <p>
            <a class="btn btn-primary btn-large" href="#">Enter</a>
        </p>
    </div>
</div>
</body>
</html>
