<!DOCTYPE html>
<html>
<head>
    <title>cms</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/jsglobal/uikit/css/uikit.min.css"/>
    <script type="text/javascript" src="/jsglobal/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/jsglobal/uikit/js/uikit.min.js"></script>
</head>
<body>
<div>
    <div class="uk-grid">
        <div class="uk-width-1-1">

        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-2-10">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">CMS</h3>
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li class="uk-parent">
                        <a href="#">基础资料维护</a>
                        <ul class="uk-nav-sub">
                            <li><a href="">模块管理</a></li>
                            <li><a href="">公司信息维护</a></li>
                            <li><a href="">文章类别维护</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">发布</a>
                        <ul class="uk-nav-sub">
                            <li><a href="">公告发布</a></li>
                            <li><a href="">文章发布</a></li>
                            <li><a href="">首页信息设定</a></li>
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">个人信息</a>
                        <ul class="uk-nav-sub">
                            <li><a href="">修改密码</a></li>
                            <li><a href="">个人资料</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-width-8-10"><%- body -%></div>
    </div>
</div>
</body>
</html>
